.bg-banner {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.233)),
    url("../../../images/banner.png");
  height: 600px;
  background-size: cover;
  color: white;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
