.bg-about {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.484)),
    url("../../images/rev-banner.png");
  height: auto;
  background-size: cover;
  color: white;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
